---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import Table from '../../components/Table.astro';
import TableRow from '../../components/TableRow.astro';
import TableColumn from '../../components/TableColumn.astro';
import Divider from '../../components/Divider.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="p-4 leading-relaxed min-h-screen">
		<Header />
		<main class="max-w-3xl border border-[var(--theme-border)] mx-auto mt-6 p-8">
			<div class="mb-12">
				<div>
					<Table>
						<TableRow>
							<TableColumn>
								<span class="text-[var(--theme-text)] text-xl">Title</span>
							</TableColumn>
							<TableColumn>
								<span class="text-[var(--theme-text)] text-xl">Published</span>
							</TableColumn>
						</TableRow>
						<TableRow>
							<TableColumn colspan={2}>
								<Divider type="SINGLE" />
							</TableColumn>
						</TableRow>
						{posts.map((post) => (
							<TableRow>
								<TableColumn>
									<a href={`/blog/${post.slug}/`} class="text-[var(--theme-text)] text-xl hover:underline">
										{post.data.title}
									</a>
								</TableColumn>
								<TableColumn>
									<p class="text-[var(--theme-text)] text-xl">{post.data.pubDate.toLocaleDateString()}</p>
								</TableColumn>
							</TableRow>
						))}
					</Table>
				</div>
			</div>
		</main>
	</body>
</html>
