---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-rp-base text-rp-text font-mono p-4 leading-relaxed min-h-screen">
		<Header />
		<main class="max-w-3xl border border-muter mx-auto mt-12 p-8">
			<div class="mb-12">
				<p class="text-rp-gold text-xl mb-4">$ ls blog/</p>
				<div class="ml-4">
					{
						posts.map((post) => (
							<div class="mb-6">
								<a href={`/blog/${post.slug}/`} class="text-rp-rose text-lg hover:underline">
									{post.data.title}
								</a>
								<p class="text-rp-muted">{post.data.pubDate.toLocaleDateString()}</p>
								<p class="text-rp-foam mt-2">{post.data.description}</p>
							</div>
						))
					}
				</div>
			</div>
		</main>
	</body>
</html>
