---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Divider from '../components/Divider.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="p-4 leading-relaxed min-h-screen">
		<Header />
		<main class="max-w-3xl border border-[var(--theme-border)] mx-auto mt-6 p-8">
			<div class="mb-12">
				<div class="ml-4">
					<div class="mb-4">
						<h1 class="text-[var(--theme-text)] text-3xl">{title}</h1>
						<p class="text-[var(--theme-text)] mt-2">
							<FormattedDate date={pubDate} />
							{updatedDate && 
								<span class="text-[var(--theme-button-foreground)] ml-2">
									(Updated: <FormattedDate date={updatedDate} />)
								</span>
							}
						</p>
					</div>

					{heroImage && 
						<img src={heroImage} alt="" class="rounded-lg mb-8 w-full" />
					}

					<Divider type="SINGLE" />

					<div class="prose prose-invert max-w-none prose-p:my-4 prose-pre:my-4">
						<slot />
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
